<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foursquareTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D4CBB1C20AC93060093D027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4CBB3020AC93070093D027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D4CBB3B20AC93070093D027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
